#logo {
  padding-left: 40px
}

.input-field input[type=search] {
  display: block;
  line-height: inherit;
  transition: .3s background-color;
  margin-top: 1%;
  margin-bottom: 1%;
}

.input-field input[type=search]:focus:not(.browser-default) {
  background-color: #50F2E3;
  border: 2px solid #00897b;
  border-radius: 20px;
}

.input-field {
  /* background-color: #009688;
  border: 3px solid #00897b;
  border-radius: 20px; */
  padding-left: 5%;
}

input {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #ffffff;
}
