<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li>
    <a href="#!">one</a>
  </li>
  <li>
    <a href="#!">two</a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="#!">three</a>
  </li>
</ul>

<nav class="teal lighten-1">
  <!-- <div class="container"> -->
  <div class="row">
    <div class="col l2">
      <a routerLink="/">
        <img id=logo height="60" src="../../assets/img/logo2.png">
      </a>
    </div>

    <div class="col l8">
      <form>
        <div class="input-field ">
          <input id="search" type="search" required>
          <label class="label-icon" for="search">
            <i class="material-icons">search</i>
          </label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>

    <div class="col l2 ">
      <ul class="right hide-on-med-and-down">

        <li *ngIf="!isAuthenticated">
          <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="!isAuthenticated">
          <a routerLink="/register">Sign Up</a>
        </li>

        <!-- Dropdown Trigger -->
        <li *ngIf="isAuthenticated">
          <a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>

      </ul>
    </div>
  </div>
  <!-- </div> -->
</nav>
