#logo {
  padding-left: 40px
}

.input-field input[type=search] {
  display: block;
  line-height: inherit;
  transition: .3s background-color;
  margin-top: 1%;
  margin-bottom: 1%;
}

.input-field input[type=search]:focus:not(.browser-default) {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #00897b;
  border-radius: 20px;
}

.input-field {
  /* background-color: #009688;
  border: 3px solid #00897b;
  border-radius: 20px; */
  padding-left: 5%;
}

input {
  text-indent: 15px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #ffffff;
}

input[type=search]:not(.browser-default) {
  border-bottom: 0px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  font-size: 20px;
}
