<footer class="page-footer deep-purple lighten-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h2 class="white-text">DEV ~ Library</h2>
        <!-- <h6 class="grey-text text-lighten-4">Kill your brain with this information</h6> -->
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contact us</h5>
        <ul>
          <li>
            <a class="grey-text text-lighten-3" href="#!">devlibrary.com.ua</a>
          </li>
          <li>
            <fa-icon [icon]="faCoffee"></fa-icon>
            <a class="grey-text text-lighten-3" href="#!">facebook.com/DevLibrary</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="#!">twitter.com/DevLibrary</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="#!">dev.library@mail.com</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">

      <a class="grey-text text-lighten-4 right">© 2018 Copyright Text</a>
    </div>
  </div>
</footer>
