<footer class="page-footer teal lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l4 center-align">
        <h5>
          <br>
          <i>"The only thing you absolutely have to know, is the location of the library."</i> -Albert Einstein</h5>
      </div>
      <div class="col l4 ">
        <!-- <div class="left"> -->
        <img id="logo" height="150" src="../../assets/img/logo2.png ">
        <!-- </div> -->
      </div>
      <div class="col l4">
        <div id="contactus ">
          <h5 class="white-text ">Contact Us</h5>
          <ul>
            <li>
              <i class="fab fa-facebook-square "></i>
              <a class="grey-text text-lighten-3 " href="#! ">facebook.com/DevLibrary</a>
            </li>
            <li>
              <i class="fab fa-twitter "></i>
              <a class="grey-text text-lighten-3 " href="#! ">twitter.com/DevLibrary</a>
            </li>
            <li>
              <i class="fas fa-envelope "></i>
              <a class="grey-text text-lighten-3 " href="#! ">dev-library@gmail.com</a>
            </li>
            <li>
              <i class="fas fa-phone "></i>
              <a class="grey-text text-lighten-3 " href="#! ">+ 38 (042) 4242 421</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright ">
    <div class="container ">

      <p class="grey-text text-lighten-4 center-align ">
        <i id="copyr " class="tiny material-icons ">copyright</i> 2018 Copyright Text</p>
    </div>
  </div>
</footer>
