<ul class="collapsible ">
  <li>
    <div class="collapsible-header">Fantasy</div>
  </li>
  <li>
    <div class="collapsible-header">Science</div>
  </li>
  <li>
    <div class="collapsible-header">History</div>
  </li>
  <li>
    <div class="collapsible-header">Horror</div>
  </li>
  <li>
    <div class="collapsible-header">Comics</div>
  </li>
  <li>
    <div class="collapsible-header">Biographies</div>
  </li>
  <button (click)="onAdd()" class="btn waves-effect waves-light" type="submit" name="action">Card
    <i class="material-icons right">add</i>
  </button>
  <button (click)="onAdd()" class="btn waves-effect waves-light" type="submit" name="action">Category
    <i class="material-icons right">add</i>
  </button>

</ul>
